<div class="container register-form">
    <div class="form">
      <div class="note">
        <h2>ADD BUS</h2>
      </div>
  
      <div class="form-content">
        <div class="row">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Bus Num *" [(ngModel)]="bus.bus_num"/>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Bus Number Plate *" [(ngModel)]="bus.bus_numberPalte"/>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Bus Capacity *" [(ngModel)]="bus.bus_capacity"/>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Mobile Number *" [(ngModel)]="bus.bus_mobile"/>
            </div>
        </div>
        <button type="button" class='btn btn-success btn-xs' (click)="addbus()">Add Bus</button>
      </div>
    </div>
  </div>
  <div class="container">
      <div class="row col-md-6 col-md-offset-2 custyle">
      <table class="table table-striped custab">
      <thead>
          <tr>
              <th>ID</th>
              <th>Bus Num</th>
              <th>Bus Number Plate</th>
              <th>Bus Capacity</th>
              <th>Bus Mobile Number</th>
              <th class="text-center">Action</th>
          </tr>
      </thead>
              <tr *ngFor="let bus of bus1">
                  <td>{{bus.bus_id}}</td>
                  <td>{{bus.bus_num}}</td>
                  <td>{{bus.bus_numberPalte}}</td>
                  <td>{{bus.bus_capacity}}</td>
                  <td>{{bus.bus_mobile}}</td>
                  <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a></td>
              </tr>
      </table>
      </div>
  </div>